@import url(./font.css);
@import url(./carousel.css);

:root {
  --color--green: #b9ff66;
  --color--black: #191a23;
  --color--gray: #f3f3f3;
  --color--white: white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 20px 0;
  padding-bottom: 0;
}

img {
  height: auto;
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--color--gray);
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
p {
  font-weight: 400;
}
button {
  border: 0;
}
.section-container {
  width: 90%;
  margin: auto;
  padding-block: 70px;
}

/* nav */
header {
  padding-block: 0 !important;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
}

ul li {
  list-style: none;
  padding-right: 40px;
  line-height: 28px;
  font-size: 1.1rem;
  position: relative;
}
ul li a {
  color: var(--color--black);
}
.btn {
  border: 1px solid var(--color--black);
  padding: 15px 20px;
  border-radius: 14px;
  transition: 0.3s ease-in;
  transition-property: background-color, color;
}
.navlink li::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color--green);
  transition: 0.3s ease-in-out.1s;
}
.navlink li:last-child:before,
.navlink li:last-child:hover:before {
  width: 0;
}
.navlink li:hover::before {
  width: 50%;
}

.btn:hover {
  background-color: var(--color--black);
  color: var(--color--gray);
}
/* ==============hero section============ */
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.hero-right {
  width: 90%;
  padding-block: 1rem;
}
.hero-section .hero-right h1 {
  font-size: 3.5rem;
}

.hero-section .hero-right p {
  font-size: 1.2rem;
  line-height: 28px;
}
.hero_btn {
  background-color: var(--color--black);
  color: var(--color--gray);
  font-size: 1rem;
}
.hero_btn:hover {
  background-color: var(--color--gray);
  color: var(--color--black);
}

/* =========== service============ */
.section_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  gap: 40px;
}
.section_header h2 {
  background-color: var(--color--green);
  font-size: 2.1rem;
  text-wrap: nowrap;
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 400;
}

.section_header p {
  font-size: 1rem;
}
.service_cards {
  padding-block: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.service_card {
  display: flex;
  background: var(--color--gray);
  border: 1px solid var(--color--black);
  border-radius: 50px;
  padding: 50px 50px;
  justify-content: space-between;
  box-shadow: var(--color--black) 0px 2px 4px,
    var(--color--black) 0px 7px 13px -3px,
    var(--color--black) 0px -3px 0px inset;
}
.card_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card_left .card_header h3 {
  background-color: var(--color--green);
  font-size: 1.4rem;
  border-radius: 7px;
  padding: 2px 5px;
  font-weight: 700;
  display: inline;
}
.card_left .learn_more {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card_left .learn_more img {
  width: 40px;
}
.service_card.green {
  background-color: var(--color--green);
}
.service_card.green .card_header > h3 {
  background-color: var(--color--white);
}
.service_card.black {
  background-color: var(--color--black);
}
.service_card.black .card_header > h3 {
  background-color: var(--color--white);
}
.service_card.black .learn_more {
  color: var(--color--white);
}

/* ================= make it happen section=========== */
.section-container.make_it_happen_section {
  padding-block: 10px;
}
.make_it_grid {
  display: flex;
  justify-content: space-between;
  background-color: var(--color--gray);
  border-radius: 45px;
  align-items: center;
  padding-inline: 60px;
}
.make_it_left {
  width: 40%;
  line-height: 26px;
}
.make_it_left h3 {
  font-weight: 500;
  font-size: 1.7rem;
}
.make_it_left p {
  font-size: 1rem;
}
.btn.black_btn {
  font-size: 1.1rem;
  background-color: var(--color--black);
  color: var(--color--gray);
}
.btn.black_btn:hover {
  background-color: transparent;
  color: var(--color--black);
}
.make_it_right {
  height: 394px;
  width: 494px;
}
/* ========== case========== */
.case_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color--black);
  color: var(--color--gray);
  padding-inline: 60px;
  padding-block: 70px;
  gap: 1rem;
  margin-top: 2rem;
  border-radius: 45px;
}
.case_grid .grid_item {
  padding-inline: 64px;
  display: grid;
  border-left: 1px solid var(--color--green);
}
.case_grid .grid_item:first-child {
  padding-inline-start: 0;
  border-left: 0px solid var(--color--green);
}
.case_grid .grid_item:last-child {
  padding-inline-end: 0;
}
.case_grid .grid_item a {
  color: var(--color--green);
  display: flex;
  align-items: center;
  gap: 5px;
}
.case_grid .grid_item a img {
  width: 17px;
  height: 10px;
}
/* ===================team============= */
.team_grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-block: 50px;
}
.team_grid {
  border: 1px solid var(--color--black);
  padding-block: 40px;
  padding-inline: 35px;
  border-radius: 35px;
}
.grid_top .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.grid_top .details h4,
.grid_top .details p {
  margin: 0;
  text-wrap: nowrap;
}
.details .name {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.grid_top {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid var(--color--black);
}
.grid_top .team_image {
  width: 105px;
  height: 102px;
}
.btn_container {
  text-align: right;
}
/* ================= team============== */
.form_container {
  background-color: var(--color--gray);
  margin-top: 40px;
  padding-inline: 100px;
  padding-block: 60px;
  border-radius: 45px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
form {
  width: 40%;
}
.radio_input label {
  font-size: 1.2rem;
  font-weight: normal;
}
.radio_input input:checked {
  accent-color: var(--color--green);
}
.text_input {
  padding-top: 20px;
}
.text_input .input {
  padding-top: 30px;
}
.text_input input,
.input textarea {
  width: 100%;
  border-radius: 14px;
  height: 50px;
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid var(--color--black);
  margin-top: 10px;
}
.input textarea {
  height: 150px;
  resize: none;
}
form .btn {
  width: 100%;
  margin-top: 20px;
}

.form_container img {
  width: 691px;
  height: 648px;
  position: absolute;
  top: 0;
  right: -25%;
}
/* ================ footer=========== */
.footer-container {
  padding-bottom: 0;
  padding-top: 30px;
}
.footer {
  background-color: var(--color--black);
  padding-block: 55px;
  padding-inline: 60px;
  border-radius: 45px 45px 0 0;
}
.bottom_nav .navlink li a {
  color: var(--color--gray);
}
.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_top img {
  width: 220px;
  height: 36px;
}
ul.bottomlink {
  display: flex;
}

ul.bottomlink li {
  list-style: none;
  padding-right: 40px;
  line-height: 28px;
  font-size: 1.1rem;
}
ul.bottomlink li a {
  color: var(--color--gray);
}
.social img {
  width: 30px;
  height: 30px;
}
.footer_top .social {
  display: flex;
  gap: 15px;
}
.footer_bottom {
  border-top: 1px solid var(--color--gray);
  display: flex;
  color: var(--color--gray);
  align-items: center;
  gap: 2rem;
  padding-top: 20px;
}

/* ============= media query for width<= 1300px =========== */
@media (width<= 1300px) {
  .section-container {
    width: 95%;
    margin: auto;
    padding-block: 70px;
  }
  ul li {
    padding-right: 30px;
  }
  /* ==============hero section============ */
  .hero-section {
    gap: 3rem;
  }
  .hero-right {
    width: 95%;
    padding-block: 2rem;
  }

  .hero-section .hero-right p {
    font-size: 1.1rem;
  }

  /* =========== service============ */
  .section_header {
    width: 70%;
    gap: 30px;
  }
  .section_header h2 {
    font-size: 2rem;
  }

  .card_left .learn_more img {
    width: 35px;
  }
}

/* ============= media query for width<= 1150px =========== */
@media (width<= 1150px) {
  .navlink li .btn {
    display: none;
  }
  .section-container {
    width: 95%;
    padding-block: 50px;
  }
  ul li {
    padding-right: 20px;
    font-size: 1.1rem;
  }
  /* ==============hero section============ */
  .hero-section {
    gap: 2rem;
  }
  .hero-right {
    width: auto;
    padding-block: 3rem;
  }
  .hero-section .hero-right h1 {
    font-size: 3rem;
  }

  .hero-section .hero-right p {
    font-size: 1.1rem;
  }
  /* =========== service============ */
  .section_header {
    width: 80%;
  }
  .section_header h2 {
    font-size: 1.8rem;
  }

  .section_header p {
    font-size: 0.9rem;
  }
  .service_cards {
    gap: 30px;
  }
  .service_card {
    padding: 50px 50px;
  }
  .card_left .card_header h3 {
    font-size: 1.2rem;
  }
  .card_left .learn_more {
    font-size: 1rem;
  }
  .card_left .learn_more img {
    width: 30px;
  }
}

/* ============= media query for width<= 1024px =========== */
@media (width<= 1024px) {
  body {
    padding: 10px 0;
  }
  .section-container {
    padding-block: 30px;
  }
  ul li {
    padding-right: 15px;
  }

  /* ==============hero section============ */
  .hero-section {
    gap: 1rem;
  }
  .hero-right {
    padding-block: 4rem;
  }
  .hero-section .hero-right h1 {
    font-size: 2.5rem;
  }

  .hero-section .hero-right p {
    font-size: 1rem;
  }

  .service_cards {
    gap: 20px;
  }
  .service_card {
    padding: 40px 40px;
  }
  .card_left .card_header h3 {
    font-size: 1.1rem;
  }
  .card_left .learn_more {
    gap: 5px;
  }
  .card_left .learn_more img {
    width: 25px;
  }
}

/* ============= media query for width<= 950px =========== */
@media (width<= 950px) {
  nav ul {
    display: none;
  }
  /* ==============hero section============ */
  .hero-section {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .hero-right {
    padding-block: 1rem;
    text-align: center;
    padding-top: 40px;
  }
  .hero-section .hero-right h1 {
    font-size: 2.2rem;
  }

  .hero-section .hero-right p {
    font-size: 1rem;
  }
  .hero_btn {
    font-size: 1rem;
  }
  .hero-left {
    width: 60%;
    margin: auto;
  }

  /* =========== service============ */
  .section_header {
    width: 90%;
  }
  .section_header h2 {
    font-size: 1.5rem;
  }

  .section_header p {
    font-size: 0.8rem;
  }
  .service_cards {
    padding-block: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  .service_card {
    border-radius: 50px;
    width: 70%;
    padding: 50px 50px;
  }
  .card_left .card_header h3 {
    font-size: 1.2rem;
    border-radius: 7px;
  }
}
